@media screen and (min-width: 900px) {
    


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}
header img {
    height: auto;
    width: 7rem;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

}

li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    color: #1e91a0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #1e91a0;
}

header nav ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

header #languesHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

header #languesHeader ul li {
    padding-right: 1rem;
    padding-left: 1rem;
}

#BanCreative {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#1e91a0;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 20rem;
}

#BanCreative img {
    height: 20rem;
    position: relative;
    top: 3rem;
    left: -20%;
}

#BanCreative #presentationCreative {
    width: 40%;
}


#BanCreative #presentationCreative h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
}

#BanCreative #presentationCreative button {
    border: none;
    background-color: black;
    color: white;
    height: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;

}

#corpsPage {
    margin-top: 10rem;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#corpsPage h2 {
    padding-bottom: 2rem;
}

#corpsPage button {
    background-color: black;
    color: white;
    height: 2rem;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
}

#agenda {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
}

.carte {
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    height: 10rem;
}

.carte img {
    height: 100%;
    width: 100%;
}

#agenda .carte .contenuCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebedef;
    padding: 1rem;
}

#agenda .carte .contenuCarte button {
    background-color: black;
    color: white;
    border: none;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3rem;
}

footer #footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ebedef;
    padding: 1rem;
    color: #aaabab;
}

footer #footer1 img {
    width: 7rem;
}
footer #footer1 button {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    border: none;
    color: white;
}
footer #footer2 {
    justify-content: center;
}

footer #footer2 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 40%;


    
}


footer #footer2 ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

}


@media screen and (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        padding-top: 1rem;
        text-align: center;
        font-weight: 600;
    }

    header nav ul {
        list-style-type: none;
    }

    header div ul {
        list-style-type: none;


    }

    header div ul li {

        padding-top: 1rem;
        padding-bottom: 1rem;

    }

    header img {
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
    }

    #BanCreative {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #BanCreative #presentationCreative {
        text-align: center;
        background-color: #1e91a0 ;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
    }

    #BanCreative #presentationCreative button {
        width: 70%;
        height: 2rem;
        background-color: black;
        color: white;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #corpsPage {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        margin-bottom: 1rem;
    }

    #corpsPage button {
        height: 2rem;
        margin-top: 1rem;
        padding-left: 5%;
        padding-right: 5%;
        background-color: black;
        color: white;
        border: none;

    }

    #agenda {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #agenda .carte {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        background-color: #ebedef;
        box-shadow: 5px 5px 5px 5px lightgrey;
    }

    #agenda .carte button {
        background-color: black;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        color: white;
        height: 2rem;
        border: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer #footer1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #ebedef;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        box-shadow: 5px 5px 5px 5px lightgrey;
    }

    footer #footer1 img {
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 3rem;
        width: 80%;
    }

    footer #footer1 div {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer #footer1 button {
        background-color: black;
        color: white;
        border: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 2rem;
        margin-bottom: 1rem;
    }

    footer #footer2 {
        text-align: center;
    }

    footer #footer2 ul {
        list-style-type: none;

    }

    footer #footer2 {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 3rem;
    }

    /*Style des liens*/

    li a {
        color: black;
        text-decoration: none;
    }

    a {
        color: white;
        text-decoration: none;
    }



    
}